# Ignore the exe files
*.exe

# Ignore temporary code runner files
tempCodeRunnerFile.cpp

#Ignore learning files
test.cpp

*.obj
*.o
*.log
*.pch
*.idb
*.pdb
*.ilk
*.suo
*.ncb
*.sdf
*.opensdf
*.ipch
*.tlog
*.lastbuildstate
*.res
*.aps