Objects/
Listings/

*.o
*.d
*.axf
*.elf
*.map
*.lst
*.lnp
*.m51
*.crf
*.dep
*.i
*.obj

*.bak
*.tmp
*.~*
*.orig

*.uvoptx
*.uvgui.*
*.uvguix.*

*.htm
*.html
*.scvd
*.dbg

.vscode/
.idea/
*.swp
*.swo
*.DS_Store
Thumbs.db

*.log
